header {
  width: 100%;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 61px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  gap: 50px;
  display: flex;
  margin-right: 30px;

  a,
  p {
    font-size: 14px;
  }
}

.fa-phone {
  margin-right: 5px;
}

.language {
  margin-left: 10px;
  margin-right: 5px;
}

.header-content {
  max-width: 1500px;
  width: 100%;
  display: flex;
  align-items: center;

  padding: 10px 10px 11px 20px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 6px 20px 0 rgba(62, 111, 174, 0.1);
  background-color: #fff;
}

.header-search-container {
  width: 100%;
  max-width: 400px;

  border-radius: 500px;
  margin-left: auto;
  display: flex;
  border: solid 1px #d6e5f5;
  height: 40px;
  align-items: center;
  padding-right: 7px;

  input {
    width: 100%;
    border-radius: 500px;
    background: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    padding-left: 16px;
    color: #202e3f;

    &::placeholder {
      color: #202e3f;
    }
  }

  .search-button {
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    background: #e4185a;
  }
}

.logo {
  margin-right: 41px;
}
