.value-proposition-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 5%;

  transition: ease-in-out;

  .globe-container {
    width: 100%;
    will-change: width;
    position: relative;
  }

  img {
    width: 100%;
    will-change: width;
  }
}

.parts-box-container {
  background: #202e3f;
  width: fit-content;
  position: absolute;
  right: -50px;
  display: none;
  transform: (translateY(20px));
  opacity: 0;
  border-radius: 10px;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.parts-box-top {
  background: white;
  padding: 10px 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 100%;
}

.star-container {
  background: #e6e6e6;
  border-radius: 100%;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  i {
    color: #e4185a;
  }
}

.parts-box-bottom {
  padding: 20px 50px;
  color: white;
}

.numbers-pill {
  background: #e4185a;
  width: fit-content;
  position: absolute;
  left: 0;
  bottom: 100px;
  //display: none;
  transform: (translateY(20px));
  //opacity: 0;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  border-radius: 500px;
  font-size: 18px;
  font-weight: 600;

  padding: 2% 4%;
}

.value-proposition-text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  display: none;
  transform: translateY(20px);
  opacity: 0;
  will-change: opacity, transform;
  text-align: left;

  h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  p {
    color: #202e3f;
  }

  button {
    background: #e4185a;
    border-radius: 500px;
    border: 0;
    width: 156px;
    height: 30px;
    margin-top: 24px;
    color: white;
  }
}

.grey {
  color: #acafb9;
}

@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 40%;
  }
}

.shrink {
  animation: shrink 0.25s forwards;
}

@keyframes grow {
  from {
    width: 40%;
  }

  to {
    width: 100%;
  }
}

.grow {
  animation: grow 0.5s forwards;
}

@keyframes showText {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: (translateY(0px));
    opacity: 1;
  }
}

@keyframes hideText {
  from {
    transform: (translateY(0px));
    opacity: 1;
  }

  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.showText {
  animation: showText 1s forwards;
  animation-delay: 0.6s;
}

.hideText {
  animation: hideText 1s forwards;
}

.showBox {
  animation: showBox 0.1s forwards;
}

.hideBox {
  animation: hideBox 0.5s forwards;
}

@keyframes showBox {
  from {
    transform: (translateY(20px));
    opacity: 0;
  }

  to {
    transform: (translateY(0px));
    opacity: 1;
  }
}

@keyframes hideBox {
  from {
    transform: (translateY(0px));
    opacity: 1;
  }

  to {
    transform: (translateY(20px));
    opacity: 0;
  }
}

@keyframes hidePill {
  from {
    transform: (translateY(0px));
    opacity: 1;
  }

  to {
    transform: (translateY(20px));
    opacity: 0;
  }
}

@keyframes showPill {
  from {
    transform: (translateY(20px));
    opacity: 0;
  }

  to {
    transform: (translateY(0px));
    opacity: 1;
  }
}

.showPill {
  animation: showPill 0.2s forwards;
}

.hidePill {
  animation: hidePill 0.5s forwards;
}
