.App {
  text-align: center;
  background: #f8f8f8;
  min-height: 100vh;
  padding: 0 2%;
}

.app-wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 20px;
}

.hero {
  background: url("./media/bg.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 10%;
  margin-top: calc(61px + 50px);
  padding-top: 30px;
  padding-bottom: 30px;

  .hero-left {
    display: flex;
    flex-direction: column;
  }

  .card-container {
    position: relative;
  }

  .card-1 {
    height: 279px;
    width: 238px;
    background: brown;
    background: url("./media/card.webp");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    z-index: 1;
    position: relative;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding-left: 20px;
    padding-bottom: 25px;
    text-align: left;
    line-height: 30px;
    font-weight: 600;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: translateY(-3px);
    }
  }

  .card-2 {
    height: 280px;
    width: 230px;
    background: #d4d4d4;

    background-size: cover;
    background-position: center;
    border-radius: 18px;
    position: absolute;
    top: 4px;
    left: -15px;
    transform: rotate(-2deg);
  }

  h1 {
    font-size: 3.5em;
    color: white;
    text-align: left;
    margin-bottom: 37px;
  }

  .input-container {
    height: 42px;
    border-radius: 50px;
    border: solid 1px white;
    color: white;
    display: flex;

    input {
      //background: none;
      height: 100%;
      border-radius: 50px;
      padding-left: 12px;
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: none;
      border: 0;
      font-size: 16px;
      font-weight: 500;
      color: white;
      &::placeholder {
        color: white;
      }
    }

    button {
      border-radius: 500px;
      padding: 0 20px;
      border: 0;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;

      i {
        margin-left: 10px;
        color: #e4185a;
      }
    }
  }
}

.skeleton {
  width: 100%;
  height: 500px;
  background: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 50px;
}
